# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/

# IDE files
.idea/
.vscode/
*.iml

# Logs
*.log

# Misc
.DS_Store